.entrada_1 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.entrada_2 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.entrada_3 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.entrada_4 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.entrada_5 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.entrada_6 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.entrada_7 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.home {
  background-color: #DA121A;
  width: 8rem; 
  height: 10.5rem;
        }

.entradas {
   background-color: #DA121A;
  width: 8rem; 
  height: 10.5rem;
        }

       
           

