*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;}

  :root {
      --black: #141414;
      --blue: #0F47AF;
      --red: #DA121A;
      --gray: #EBEBEB;

      --h1-escr: 3.12rem;
      --h2-escr: 2.5rem;
      --h3-escr: 1.25rem;
      --text-escr: 1rem;
      --boton-escr: 1.25rem;

      --h1-tab: 2.81rem;
      --h2-tab: 2.18rem;
      --h3-tab: 1.25rem;
      --text-tab: 1rem;
      --boton-tab: 1.12rem;

      --h1-mov: 1.87rem;
      --h2-mov: 1.56rem;
      --h3-mov: 1rem;
      --text-mov: 0.65rem;
      --boton-mov: 0.87rem;
  }

nav{background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
.logo_nav{width: 10%;
        height: 10%;
        justify-content: center;
        display: flex;
        align-items: center;  
        min-height: 10rem;  
       }
.logo_nav img{width: 60%;
            height: 60%;
            rotate: 2.80;   
            border: 0.1rem solid rgb(255, 255, 255);  
            border-radius: 100%;
            padding: 0.5rem;
           }
.menu_nav{width: 50%;
        justify-content: center;
        align-items: center;
        color: white;
       }
.menu_nav ul{display: flex;
          justify-content: space-around;
          list-style: none;
          font-size: 1.25rem;
          }
.redes_sociales_nav{display: flex;
                  justify-content: space-around;
                  align-items: center;
                  font-size: 1.5rem;
                 }
.redes_sociales_nav ul{color: white;
                     display: flex;
                     list-style: none;
                     width: 100%;
                     gap: 1rem;
                    }

@media screen and (max-width: 1000px){
  .redes_sociales_nav{display: none;}
  .menu_nav{width: 80%;}
  
}

@media screen and (max-width: 650px) {
  nav{justify-content: center;
      }
  .menu_nav ul{display: none;}
  .logo_nav{justify-content: center;}
  .logo_nav img{justify-content: center;
                width: 100%;
                height: 100%;
                margin: auto;}
  
}
  a{

   height:  3rem;
   width : 3rem;
   background-color: #DA121A;
   padding:100%;
   margin:100%;}
