
body{
  background-image:url(https://images7.alphacoders.com/654/654785.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}


/*div 1*/
.entrada_1 {
  justify-content: center;
  margin-top: 1.5rem;
  display: flex;
}
/*div 2,3,4,5,6,7,8*/
.entrada_2 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 1rem;
}

/*imagenes de las entradas*/
.image{width: 40rem;
  height: 8rem;
}


 /*boton que enlaza a página de venta de entradas y al home y cambia la forma de cursor*/       
input{
  background-color: #DA121A;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  
}
.home{
  height: 8rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #DA121A;
  justify-content: center;
}
.entradas{
  height: 8rem;
  display: flex;
  background-color: #DA121A;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  
}

/*cambio de color del botón que enlaza a la página de venta de entradas y al home*/
input:hover{
  background-color: darkred;
}
/*cambio de color del botón de venta de entradas*/
.entradas:hover{
  background-color: darkred;
}
/*cambio de color del botón de home*/
.home:hover{
  background-color: darkred;
}



  /* Media-Queries */

  @media only screen and (max-width: 894px) {
    .image {
      width: 50%;
    }
  
    .home{
      width: 10%;
    }
    .entradas {
      width: 15%;
    }
  }
  
  
  @media only screen and (max-width: 700px) {
    .image {
      width: 50%;
    }
  input{
    font-size: small;
  }
    .home{
      width:10% ;
    }
    .entradas {
      width: 15%;
    }
  } 

  @media only screen and (max-width: 500px) {
    .image {
      width: 70%;
    }
  input{
    transform: rotate(90deg);
  
  }
    .home,
    .entradas {
      width: 10%;
    }
  } 