
h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}

main { background-image: url(img/canchatina.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;

}

.container {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    padding-bottom: 8rem;
}

form {
    width: 50rem;
    font-weight: 600;

}

label {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: white;
}

input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

textarea {
    padding: 4rem;
    width: 84%;
    margin-bottom: 1rem;
}

button {
    background-color: red;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

button:hover {
    background-color: #ac0b0b;
}

.dos {
    color: white;

}

p { 
    text-align: left;
    font-size: 1.1rem;
    margin-left: 6rem;
    font-weight: 600;
}

h2 {
    color: white;
    font-size: 2rem;
}




iframe { 
    padding: 10%;
    width: 40rem;
    height: 40rem;
}


@media screen and (max-width: 1000px){

}

/* Media-Queries */
@media screen and (max-width: 768px) {
    form {width: 90%;
        height: 90%; }
        
    textarea {width: 69%;}

    iframe {width: 80%;
            height: 80%;}
}

@media screen and (max-width: 600px) {
    form {width: 75%;
        height: 75%;}

    textarea {width: 10rem;}

    iframe { width: 80%;
          height: 70%;}
    
}

@media screen and (max-width: 500px) {
    form {width: 90%;
          height: 90%;}

    p {font-size: 1.2rem;}

    iframe {height: 75%;
            width: 75%;}
}
