
h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}



.container {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:  rgb(20, 20, 20);
}



form {
    width: 50rem;
    padding: 2rem;
}

label {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: white;
}

input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

textarea {
    padding: 4rem;
    width: 84%;
    margin-bottom: 1rem;
}

button {
    background-color: red;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;

}

button:hover {
    background-color: #ac0b0b;
}

.dos { 
    background-color: rgb(20, 20, 20);
    color: white;
}


p { 
    text-align: left;
    font-size: 1.1rem;
}

h2 {
    color: white;
    font-size: 2rem;
}


.informacion { 
    margin-left: 6rem;

}

.mapa { 

    padding: 6rem;  
    
}


@media screen and (max-width: 1000px){
   
}

/* Media-Queries */
@media screen and (max-width: 768px) {
    form {width: 35%;
        height: 35%; }

}

@media screen and (max-width: 600px) {
    form {width: 30%;
        height: 30%;}

    img { width: 90%;
          height: 90%;}
    
}

@media screen and (max-width: 500px) {
    form {width: 30%;
            height: 30%; 
}

p { font-size: 1.2rem;}

    img { height: 75%;
        width: 75%;
}

}
