
h1{
    color: white;
    font-size: 3rem;
}

main { background-image: url(img/canchatina.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;

}

.container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
}

form {
    border: 0.3rem solid white;
    border-radius: 3rem;
    width: 50rem;
    font-weight: 600;
    margin-block: 3rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.mapa {

    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 8rem;

}

label {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: white;
}

input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    opacity: 0.5;
}

textarea {
    padding: 4rem;
    width: 84%;
    margin-bottom: 1rem;
    opacity: 0.5;
}

button {
    background-color: red;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

button:hover {
    background-color: #ac0b0b;
}

.informacion{
    color: white;
    margin-bottom: 10rem;
    
}

h2 {
    margin-top: rem;
    color: white;
    font-size: 2rem;
    padding-bottom: 2rem;
}

p {
    font-weight: 600;
    padding-bottom: 1rem;
}




/* Media-Queries */
@media screen and (max-width: 900px) {
    form {width: 80%;
        height: 80%; }
        
    textarea {width: 69%;}

    .mapa {width: 50%;
            height: 50%;
            }

}
@media screen and (max-width: 768px) {
    form {width: 80%;
        height: 80%; }
        
    textarea {width: 69%;}

    .mapa {width: 70%;
            height: 10%;
           }

}

@media screen and (max-width: 600px) {
    form {width: 75%;
        height: 75%;}

    textarea {width: 10rem;}

    .mapa{ width: 50%;
          height: 50%;
        margin-right: 5rem;}
    
}

/* @media screen and (max-width: 540px) {
    form {width: 90%;
          height: 90%;}

    p {font-size: 1.2rem;}

    iframe {height: 50%;
            width: 50%;}

    .informacion {
        height:70%;
        width: 70%;}

} */
