    /* Reset code */
    * {
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        text-align: center;
        font-size: 16px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    ul {
        list-style: none;
        margin-left: 0;
    }

    :root {
        --black: #141414;
        --blue: #0F47AF;
        --red: #DA121A;
        --gray: #EBEBEB;

        --h1-escr: 3.12rem;
        --h2-escr: 2.5rem;
        --h3-escr: 1.25rem;
        --text-escr: 1rem;
        --boton-escr: 1.25rem;

        --h1-tab: 2.81rem;
        --h2-tab: 2.18rem;
        --h3-tab: 1.25rem;
        --text-tab: 1rem;
        --boton-tab: 1.12rem;

        --h1-mov: 1.87rem;
        --h2-mov: 1.56rem;
        --h3-mov: 1rem;
        --text-mov: 0.65rem;
        --boton-mov: 0.87rem;
    }

    /* Principal code */

    /* Botones */
    .red,
    .white {
        padding: 0.8rem;
        border-radius: 0.3rem;
        font-size: var(--boton-escr);
        text-transform: uppercase;
        color: white;
        margin-top: 2rem;
    }

    .red {
        background-color: var(--red);
        border: 0.15rem solid var(--red);
    }

    .white {
        background-color: transparent;
        border: 0.15rem solid white;
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: var(--boton-escr);
    }

    .footer-menu,
    .footer-logo {
        background-color: var(--black);
        font-weight: bold;
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo img {
        width: 7rem;
        height: 7rem;
        border: 0.1rem solid white;
        border-radius: 100%;
        padding: 0.5rem;
        margin-top: 1rem;
        justify-content: center;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        color: white;
        padding-top: 2rem;
    }

    .footer-menu div {
        margin: 1rem;
    }

    .footer-abajo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--gray);
        color: white;
        font-weight: lighter;
    }

    .footer-abajo p {
        text-align: center;
        font-weight: normal;
    }
    .footer-texto {
        padding: 2rem;
    }

    [data-title] {
        position: relative;
        /* Относительное позиционирование */
        cursor: help;
        /* Меняем курсор на справочный */
    }

    [data-title]::after {
        content: attr(data-title);
        position: absolute;
        left: 0;
        bottom: 2rem;
        left: -10rem;
        opacity: 0;
        transition: 0.5s;
        pointer-events: none;
        background: white;
        color: var(--black);
        padding: 0.5em;
        font-size: var(--text-tab);
        width: 30rem;
        border: 0.1rem solid var(--black);
        border-radius: 0.2rem;
    }

    [data-title]:hover::after {
        opacity: 1;
        /* Показываем подсказку */
    }

    /* Nav */
    nav {
        background-color: rgb(0, 0, 0);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo_nav {
        width: 5%;
        height: 5%;
        justify-content: center;
        display: flex;
        align-items: center;
        min-height: 7rem;
        margin: 0.5rem;
    }

    .logo_nav img {
        width: 60%;
        height: 60%;
        rotate: 2.80;
        border: 0.1rem solid rgb(255, 255, 255);
        border-radius: 100%;
    }

    .menu_nav {
        width: 50%;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .menu_nav ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: 1.25rem;
    }

    .redes_sociales_nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
    }

    .redes_sociales_nav ul {
        color: white;
        display: flex;
        list-style: none;
        width: 100%;
        gap: 1rem;
    }

    .hamburguesa_menu {
        font-size: 2rem;
        display: none;
    }

    /* Patrocinadores animation */
    .marquee-infinite div {
        display: flex;
        width: 200%;
        animation: marquee-infinite 9s linear infinite;
        padding: 1rem;
        white-space: nowrap;

    }

    .marquee-infinite {
        padding: 2rem;
    }

    .marquee-infinite span {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .marquee-infinite img {
        width: 10%;
    }

    /* hamburguesa de andres */

    .topnav {
        align-items: center;
        justify-content: space-around;
        overflow: hidden;

        display: flex;
    }

    #label_boton {
        display: none;
    }

    .ham {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .topnav .logo_nav {
        width: 20%;
        height: 20%;
    }

    .topnav a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

    }

    .topnav a:hover {

        color: red;
    }

    .topnav a.active {

        color: white;
    }

    .topnav .icon {
        display: none;
    }

    #i {
        font-size: 3rem;
        color: white;
        background-color: pink;
        font-size: 17px;
        background-color: red;
        padding: 14px 16px;
        display: none;
    }

    #boton_ham {

        display: none;
    }

    @keyframes marquee-infinite {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    @media screen and (max-width: 1290px) {
        .redes_sociales_nav {
            display: none;
        }

        .menu_nav {
            width: 80%;
        }

        .logo_nav {
            width: 20%;
            height: 20%;
        }

    }

    /* Media-Queries */
    @media screen and (max-width: 768px) {
        footer {
            font-size: var(--boton-tab);
        }

        .marquee-infinite img {
            width: 15%;
        }

        .marquee-infinite div {
            width: 300%;
        }

        .topnav a:not(:first-child) {
            display: none;
        }

        #boton_ham:checked~#myTopnav {
            display: block;
            text-align: left;
        }

        #i {
            display: block;
        }

        /**/
        .topnav {

            flex-direction: column;
        }

        #home {
            margin-right: auto;
        }


        .topnav a {

            text-align: center;
        }

        #label_boton {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            display: block;

        }

    }

    @media screen and (max-width: 768px) {


        .topnav.responsive {
            position: relative;
        }

        #boton_ham:checked~#myTopnav a {
            display: block;
            text-align: center;
        }

        .topnav.responsive a {

            display: block;
            text-align: left;
        }

        #home {
            margin-right: 0;
        }


    }

    @media screen and (max-width: 650px) {
        nav {
            justify-content: center;
        }

        .menu_nav ul {
            display: none;
        }

        .logo_nav {
            justify-content: center;
            margin-left: 3rem;
            width: 70%;
            height: 70%;
        }

        .logo_nav img {
            justify-content: center;
            width: 80%;
            height: 80%;
            margin: auto;
        }

        .hamburguesa_menu {
            display: none;
            margin-right: 0rem;
            font-size: 0rem;
        }

    }

    @media screen and (max-width: 380px) {
        footer {
            .marquee-infinite img {
                width: 20%;
            }

            .marquee-infinite div {
                width: 500%;
            }

            font-size: var(--boton-mov);
        }

    }