main{display:flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     background-image: url(/vertical_2_prueba.png);
     background-repeat:repeat-y;
     background-size: 100%;
     margin-bottom: 5rem;
     align-items: center;
    }
/*div de contenedor de los 2 entrenadores*/
.plantilla_entrenador{display: flex;
                     justify-content: space-around;
                     width: 100%;
                     flex-direction: row;
                     margin-top: 3rem;
                     }
/*div de contenedor de todos los jugadores*/
.plantilla_jugadores{display: flex;
                     width: 100%;
                     flex-wrap: wrap;
                     justify-content: space-around;
                     align-items: center;
                     flex-direction: row;
                     margin-top: 3rem;
                     margin-bottom: 2.1rem;
                     }
/*div contenedor de imagen + nombre y posicion entrendores*/
.plantilla_nombre_entrenadores{display: flex;
                               width: 40%;
                               height: 40%;
                               flex-direction: column;
                               align-items: center;
                               justify-content: center; 
                               margin-top: 1rem;
                              }
/*div contenedor de imagen + nombre y posicion jugadores*/
.plantilla_nombre{display: flex;
                  width: 27%;
                  height: 27%;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center; 
                  margin-top: 1rem;  
                  margin-bottom: 3rem;    
                 }
/*div de la imagen del jugador*/
.imagenes_jugadores{width: 80%;
                    height: 80%;
                    border: 0.1rem solid red;
                    padding: 0.1rem;
                    justify-content: center;
                    align-items: center;
                   }
/*div de la imagen del entrenador*/
.imagenes_entrenadores{width: 60%;
                       height: 60%;
                       border: 0.1rem solid red;
                       padding: 0.1rem;
                       justify-content: center;
                      }
/*div del nombre del jugador con posicion*/
.nombre_posicion{width: 50%;
                 color: white;
                 background-color: black;
                 /*border: 0.1rem solid red;*/
                 padding: 0.1rem;
                 margin-top: 0.5rem;
                 /*display: block;*/
                 font-size: 10rem;
                 margin-bottom: 1rem;
                 justify-content: center;
                 align-items: center;
                 
                }
/*Efectos de agrandacion a la hora de poner el cursor*/

.plantilla_nombre_entrenadores:hover{
                                      background-color: red;
                                      backface-visibility: 90%;
                                      transition: 0.5s;
                                      transition: 2seg;
                                      overflow: hidden;
                                      transform: scale(1.2);
                                      border-radius: 5%;
                                      box-shadow: 0px 15px 25px grey;
                                      position: relative;
                                     }
.plantilla_nombre:hover{
                         background-color: red;
                         backface-visibility: 90%;
                         transition: 0.5s;
                         overflow: hidden;
                         transform: scale(1.2);
                         border-radius: 5%;
                         box-shadow: 0px 5px 25px grey;
                         position: relative;                 
                        }
                 

@media screen and (max-width: 1000px){
    .plantilla_nombre_entrenadores{width: 52%;}
    .imagenes_entrenadores{width: 83%;
                           height: 83%;}
    .plantilla_nombre{width:50%;
                      height: 50%;  
                     }
   .plantilla_nombre_entrenadores:hover{
                                        background-color: none;
                                        backface-visibility: none;
                                        transition: none;
                                        transition: none;
                                        overflow: none;
                                        transform: scale(1);
                                        border-radius: none;
                                        box-shadow: none;
                                        position: none;
                                        }
    .plantilla_nombre:hover{
                            background-color: none;
                            backface-visibility: none;
                            transition: none;
                            transition: none;
                            overflow: none;
                            transform: scale(1);
                            border-radius: none;
                            box-shadow: none;
                            position: none;
                            }
                        }
@media screen and (max-width: 700px){
    .plantilla_nombre{width:70%;
                      height: 70%
                     }
    .plantilla_entrenador{flex-wrap: wrap;
                         }
    .plantilla_nombre_entrenadores{width: 72%;
                                   height: 72%;
                                  }
  .plantilla_nombre_entrenadores:hover{width:none;
                                           height: none;
                                           background-color: none;
                                           backface-visibility: none;
                                           transition: none;
                                           transition: none;
                                           overflow: none;
                                           transform: scale(1);
                                           border-radius: none;
                                           box-shadow: none;
                                           position: none;
                                        }
    .plantilla_nombre:hover{width:none;
                            height: none;
                            background-color: none;
                            backface-visibility: none;
                            transition: none;
                            transition: none;
                            overflow: none;
                            transform: scale(1);
                            border-radius: none;
                            box-shadow: none;
                            position: none;
                          }
}