* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 16px;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
 
}
.section-flexible{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.estadio-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  

    
  }
  .section-images{
    margin: 2rem 5rem;
  }
 
  .centro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  } 

  /* Imagen Left */
  .image-Izquierda {
    width: 6.5rem;
    height: 14rem;
    background-size: cover;
    transition: background-image 0.3s ease; /* Efecto de transición suave */
    border-radius: 5%;
    /* Establecer la imagen de fondo predeterminada */
    background-image: url(img_Estadio/Left.png);
    
    
  }
  
  /* Change the background image on hover */
  .image-Izquierda:hover {
    background-image: url('img_Estadio/Izquierda.png');
    transform: scale(1.6);
  }
  /* Imagen Right */
  .image-Derecha {
    width:6.5rem;
    height:14rem;
    background-size: cover;
    transition: background-image 0.3s ease; 
    border-radius: 5%;
    background-image: url(img_Estadio/Right.png);

  }
  
  .image-Derecha:hover {
    background-image: url(img_Estadio/Derecha.png);
    transform: scale(1.6);
  }
  /* Imagen Top */
  .image-Centro-Arriba {
    width:12rem;
    height: 6.5rem;
    background-size: cover;
    transition: background-image 0.3s ease; 
    border-radius: 5%;
    background-image: url(img_Estadio/Top.png)
  }
  
  .image-Centro-Arriba:hover {
    background-image: url(img_Estadio/Centro_Arriba.png);
    transform: scale(1.6);
  }


   /* Imagen Bottom */
  .image-Centro-Abajo {
    width:12rem;
    height:6.5rem;
    background-size: cover;
    transition: background-image 0.3s ease; 
    border-radius: 5%;
    background-image: url(img_Estadio/Bottom.png);
  }
  
  .image-Centro-Abajo:hover {
    background-image: url(img_Estadio/Centro_abajo.png);
    transform: scale(1.6);
  }
  /* Imagen Centro */

  .image-Centro {
    width: 12rem;
    height: 6.5rem;
    background-size: cover;
    border-radius: 5%;
    background-image: url(img_Estadio/Center.png) ; 
  }
  

  /* Estilo de las celdas de la tabla */
table {
  background-color: var(--black);
  color: var(--gray);
  border-collapse: collapse;
  overflow: hidden;
  min-width: 30vh;
  margin: 2rem 5rem ;
  border-radius: 5%;
  box-shadow:0 0 10px rgba(117, 117, 117, 0.1);
 

}
table th{
  padding: 1rem;
 
}
table td {
 
  text-align: center;
  cursor: pointer;

 
}

/* Cambio de color al pasar el cursor sobre las celdas */
table tr:hover {
  background-color:var(--red);
}




form{
  background-color:var(--black);
  margin:10rem auto;
  max-width: 30rem;
  min-width: 18rem;
  width: 50%;
  padding: 2rem;
  border-radius: 5%;
}
label{
  display: block;
  margin: 0.5rem 0.5rem;
  color: #ddd;
}
input,textarea,select{
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 2em;
  
}

/* Media-Queries */
@media screen and (max-width: 768px) {
  .section-images{
    width: 50%;
  }
  form {
    width: 50%;
  }

}

@media screen and (max-width: 650px) {
  .section-images{
    width: 80%;
  }
  form {
    width: 70%;
  }
  
}

@media screen and (max-width: 380px) {
  .section-images{
    width: 100%;
  }
  form {
    width: 80%;
  }

}